<td>
  <a class="btn btn-flat input-large" href="#spells/{{ id }}">
    <i class="icon-star-empty"></i>
    {{ name }}
  </a>
</td>
<td>
  <span class="muted input-xxlarge elipsize">{{ short_description }}</span>
</td>
