<td>
  <a class="toggle-known btn btn-flat input-large" href="#">
    <i class="icon-star{{#unless known}}-empty{{/unless}}"></i>
    {{ name }}
  </a>
</td>
<td>
  <a class="btn btn-flat input-xxlarge elipsize" href="#spells/{{ id }}">{{ short_description }}</a>
</td>
