/ h1 Spells

/ ul.unstyled.levels
/   - @spell_class.spells_arrainged.each do |level_number, schools|
/     li
/       h4
/         | Level #{' '}
/         = level_number
/       table
/         tbody
/           - schools.each do |school, spells|
/             tr
/               th span="2"
/                 h6.muted = school
/             - spells.each do |spell|
/               tr data-spell-id=(spell.id)
/                 td
/                   a.btn.btn-flat.input-large href=(spell_path(spell))
/                     i.icon-star-empty
/                     = " #{ spell.name } "
/                 td.muted.input-xxlarge.elipsize = spell.short_description
